*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: ISOCP2, 'Times New Roman', Times, serif;
    box-shadow: none;
    color: black;
    font-weight: bolder;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,body{
    width:100%;
    height:100%;
}

.main{
    
}

/* NAVEGADOR */

.nav{
    display: flex;
    border-bottom: 1px solid #bcbcbc;
}


a{
    color: black!important;
}

.menuItems{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.menuItems li{
    float: none;
    display: flex;
    align-items: center;
    margin: 5%;
    font-size: 15px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
    list-style-type: none;
}

/* EFECTO IMAGENES */

.material-placeholder img{
    width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(100%);
    -webkit-transition: all 0.1,5s;
    -moz-transition: all 0.1,5s;
    -ms-transition: all 0.1,5s;
    -o-transition: all 0.1,5s;
    transition: all 0.1,5s;
}

.material-placeholder img:hover {
    filter: grayscale(0%);
    -webkit-transition: all 0.1,5s;
    -moz-transition: all 0.1,5s;
    -ms-transition: all 0.1,5s;
    -o-transition: all 0.1,5s;
    transition: all 0.1,5s;
}

.materialboxed {
    transition: opacity 0.2s!important;
}

/* GALERIA PRINCIPAL */

.container{
    display: flex;
    background-color: aqua;
}

.container img{
    width:100%;
}

.imgMenu1, .imgMenu2, .imgMenu3{
    display: flex;
    align-items: center;
    width: 100%;
}

/* GALERIA DE FOTOS INTERIOR Y EXTERIOR*/

.galeriaInterior img, .galeriaExterior img{
    width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(100%);
	-webkit-transition: all 0.1,5s;
	-moz-transition: all 0.1,5s;
	-ms-transition: all 0.1,5s;
	-o-transition: all 0.1,5s;
    transition: all 0.1,5s;
}

.galeriaInterior img{
    padding-top: 10%;
}

.galeriaExterior img{
    padding-top: 10%;
}

.galeriaInterior img:hover, .galeriaExterior img:hover {
    filter: grayscale(0%);
    -webkit-transition: all 0.1,5s;
    -moz-transition: all 0.1,5s;
    -ms-transition: all 0.1,5s;
    -o-transition: all 0.1,5s;
    transition: all 0.1,5s;
}

.galeriaInterior, .galeriaExterior{
    display: grid;
    grid-template-areas:'img1 img1 img1'
                        'img2 img3 img4'
                        'img5 img6 img7'
                        'img8 img9 img10'
                        'img11 img12 img13'
                        'img14 img15 img16';
	position: relative;
}

.img1{
    grid-area: img1;
}

.img1 img{
    padding: 0%!important;
}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.img6{
    grid-area: img6;
}

.img7{
    grid-area: img7;
}

.img8{
    grid-area: img8;
}

.img9{
    grid-area: img9;
}

.img10{
    grid-area: img10;
}

.img11{
    grid-area: img11;
}

.img12{
    grid-area: img12;
}

.img13{
    grid-area: img13;
}

.img14{
    grid-area: img14;
}

.img15{
    grid-area: img15;
}

.img16{
    grid-area: img16;
}

/* FOOTER */

.footerPrincipal{
    position:fixed;
    bottom: 30px;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 12px;
}

.footerSecundario{
    width: 100%;
    height: 40px;
    padding: 50px;
    font-size: 12px;
}

.datosLucas, .datosMayra{
    margin:auto;
    text-align:center;
}

.simbolo{
    display: flex;
    align-items: center;
}

.footerItems{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bcbcbc;
}

/* RESPONSIVE */

@media only screen and (min-width:320px) and (max-width:480px){

    .menuItems li{
        font-size: 15px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%!important;
        margin: 0 auto;
    }

    .menuItems li{
        font-size: 10px;
    }

    .footerPrincipal{
        font-size: 8px;
        padding: 20px;
    }
    
    .footerSecundario{
        font-size: 8px;
    }

    .logo img {
        width: 70%;
    }

    }